@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

* {
  font-family: "Shippori Antique B1", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: ease-out 1s;
}

/* =============================================== */
/* ================SCORE SECTION ================== */
/* ===============================================*/

.score {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-score,
.computer-score {
  border: black solid 3px;
  padding: 3px 5px;
  box-shadow: black 3px 3px;
  background-color: white;
}

/* =============================================== */
/* ================TAGS SECTION ================== */
/* ===============================================*/

.player {
  display: flex;
  flex-direction: column;
}

.user-tag {
  align-self: flex-start;
  font-size: 20px;
}

.computer {
  display: flex;
  flex-direction: column;
}

.computer-tag {
  align-self: flex-end;
  font-size: 20px;
}

/* =============================================== */
/* ================BUTTONS SECTION =============== */
/* ===============================================*/

.buttons {
  display: flex;
  gap: 5rem;
}

.player-buttons,
.computer-buttons {
  display: flex;
  gap: 10px;
}

.player-buttons div,
.computer-buttons div {
  border: black solid 3px;
  padding: 5px;
  box-shadow: black 3px 3px;
  transition: ease-out 0.3s;
  background-color: white;
}

.player-buttons div:hover {
  background-color: #2c9ffd !important;
  color: black;
  cursor: pointer;
}

.selected {
  background-color: #000000 !important;
  color: white;
  box-shadow: none !important;
}

/* =============================================== */
/* ===========ROUND STATUS SECTION =============== */
/* ===============================================*/

.win,
.loss,
.draw {
  border: black solid 3px;
  padding: 3px;
  box-shadow: black 3px 3px;
  transition: ease-out 0.2s;
}

.win {
  background-color: #00ffaa;
}

.loss {
  background-color: #ff6347;
}

.draw {
  background-color: #c2c2c2;
}

/* =============================================== */
/* ===========WINNER   SECTION =============== */
/* ===============================================*/

.winner-style {
  font-size: 20px;
  background-color: #ffae00;
  border: black solid 3px;
  box-shadow: black 3px 3px;
  padding: 3px;
  transition: ease-out 0.4s;
}
